@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=UnifrakturCook:wght@700&display=swap');

/*
font-family: 'MedievalSharp', cursive;
font-family: 'UnifrakturCook', cursive;
*/

body {
    background-image: url("../images/pages.jpg");
    background-color: #d4ceca;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    font-family: 'MedievalSharp', cursive;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* HEADER */

header {
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
}

header > p {
    border-top: blanchedalmond 1px solid;
    padding-top: 3px;
    margin-top: -1rem;
}

/* MAIN */

/* links */
a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
}

a {
    color: inherit;
    font-weight: 600;
}

/* text */
#make-choice {
    justify-content: center;
    align-items: center;
    display: grid;  
    margin-top: 1rem;
}

#make-choice p {
    color: white;
    background:rgba(0, 0, 0, 0.3);

    text-align: center;
    padding: 5px 10px;
    display: inline-block;
}

/* buttons */
#choice {
    justify-content: center;
    align-items: center;
    display: grid;
    margin-top: 1rem;
}

button {
    font-family: 'UnifrakturCook', cursive;
    font-size: x-large;
    color: #050403;
    text-decoration: none;
    text-align: center;
    
    padding: 8px 32px;
    background-color: #D4CECA;
    margin: 8px;

    display: inline-block;
    width: 200px;
}

/* FOOTER */

footer {
    font-family: 'UnifrakturCook', cursive;
    text-align: center;

    background-color: white;
    padding-top: 1%;
    margin-top: 2%;
    height: 60px;
    display: block;
    width: 100%;
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;

    opacity: 0.9;
} 

footer ul {
    color: darkgray;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline;
    margin: 0 3%;
}

footer i {
    color: grey;
    font-size: large;
}

footer a :hover {
    color: black;
    text-decoration: none;
}

.footer-description {
    font-size: small;
    color: #0000008C;
}

.footer-description p {
    margin: 0;
    padding: 7px 3px 0;
    text-align: center;
}

footer a {
    text-decoration: none;
}
